<% if @pst.published %>
	<% @psts.each do |pst| %>
		<h2><%= link_to pst.title, pst %></h2>
		<p><%= truncate pst.body %></p>
		<%= pst.user.username %>
		<%= Time.at(1364046539).strftime("%B %e, %Y at %I:%M %p") %>
	<% end %>
<% end %>
